/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
  background-color: yellow;
}




/* ~~~~~~~~~~~ main css ~~~~~~~~~~
~~~~~~~~~~(add yours below) ~~~~~~~~~~~ */

body {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    color: blue;
    padding: 1rem;
    
}

header {
font-size: 3rem;
padding:  1rem;



}

/* style the header 
- give it some padding, maybe a background + text color */


/* style the div classes  
- change the background and the font color 
- can you give them a max-width and center them? 
- how about some margin and padding?  */

body image {
  align-content: center;
  margin: 1 rem ; 
  padding: 1.5rem;
  
 
}

.responsive {
  max-width: 100%;
  height: auto;
  padding: 1.5rem;

}


/* Make images responsive 
- do a google search if you don't remember how =) */
