/* Color palette */

/* 

background 1: #AFD5AA
background 2: #F0F2EF
font: #5C5346
accent 1: #A69F98
accent 2: #8C6057
dark: #2c2c2c

 */




/* CSS resets */

* {
    margin: 0;
    padding: 0;
}




/* respect user font size preferences  */
html {
    font-size: 100%;

}

/* General CSS */

html {


    scroll-behavior: smooth;
}


body {
    background-color: #F0F2EF;
    color: #373430;
    font-family: "Jersey 25", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

@media (max-width: 700px) {
    body {
        font-size: 1rem;
    }

}

header {
    padding: 6rem;
    margin-bottom: 3px;
    /* background-color: white; */
    background: #bafffa;
    background: linear-gradient(90deg, rgb(228, 255, 253) 0%, rgb(249, 255, 213) 100%);
    border-bottom: #000 1px solid;
    color: black;
    /* text-align: center; */

}

@media (max-width: 700px) {
    header {
        padding-left: 2rem;
    }

}

header h1 {
    font-size: 3rem;
}

.about-content h2,
.portfolio-content h2,
.contact-content h2 {
    font-size: 2.5rem;
    margin: 2rem;
    padding: 1rem;
    background-color: #dbe9f7;
    display: inline-block;
    border-radius: 1rem;
}



.about-content p {
    font-size: 1.3rem;
}



nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 0 0.5rem;
    transition: background-color .5s, ease;
    border-radius: 0.7rem;
}

nav a:hover {
    background-color: rgb(140, 140, 225);
    border-radius: 0.7rem;
    transform: scale(1.05);

}

@media (max-width: 600px) {
    nav a {
        margin: 0.2rem;
    }

}

main {
    /* max-width: 60rem;
    margin: 2rem auto; */
}

@media (max-width: 850px) {
    main {
        margin: 2rem;
    }
}


@media (max-width: 600px) {
    main {
        margin: 1rem;
    }

}

.about-section,
.portfolio-section,
.contact-section {
    margin-bottom: 5rem;


}

.about-content,
.portfolio-content,
.contact-content {
    max-width: 50rem;
    margin: 2rem auto;


}

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #dbe7da;
    padding: 4rem;
    text-align: justify;
    /* border: 2px black solid; */
    /* border-style: solid;
    border-width: 2px;
    border-color: black */
    border-radius: .5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

}

.portfolio-item h3 {
    margin: 1rem 0;

}

.portfolio-item p {
    font-size: 1.2rem;

}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: .5rem;
}

.about-section {
    /* background-color: aliceblue; */

}


.portfolio-section {
    /* background-color: #f0efd1; */
    /* border-bottom: #000 1px solid;
    border-top: #000 1px solid; */
}


footer {
    background-color: rgb(44, 44, 44);
    color: aliceblue;
    padding: 1rem;
    text-align: end;



}

.jersey {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}