/*
CSS RESETS
*/


/* Change box-sizing default to border-box */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
}


/* Respect user font settings */
html {
    font-size: 100%;
}

.responsive {
    max-width: 100%;
    display: block;

}


body {
color: var(--font);
background-color:var(--bg);


}


header {
 padding: 5rem;


}

main {
max-width: 60rem;
margin: 0 auto;


}

img{
width: 30rem;

}

.hidden {
display: none;


}

:root {
  --bg: #eee;
--font: #222;
}

body.dark {
--bg: #222;
--font: #2eb984;


}

#img1 {
position: absolute;
top: 3rem;
right: 3rem;

}

#img2 {
position: absolute;
top: 5rem;
right: 10rem;

}


#img3 {
position: absolute;
top: 10rem;
right: 3rem;

}