* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.hidden {
    display: none;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: white;
}

.scene-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.object-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.glow {
    filter: brightness(1.05) drop-shadow(0 0 5px rgb(254, 250, 175));
}

.hotspot {
    position: absolute;
    background: transparent;
    border: none;
    z-index: 10;
}

.tent-area {
    left: 15%;
    top: 30%;
    width: 30%;
    height: 35%;
}

.fire-area {
    left: 40%;
    top: 70%;
    width: 20%;
    height: 15%;
    border-radius: 50%;
}

.stick-area {
  left: 40%;
  top: 70%;
  width: 20%;
  height: 10%;
}


.up-area {
    left: 50%;
    top: 35%;
    width: 10%;
    height: 15%;
}

.down-area {
  left: 45%;
  bottom: 5%;
  width: 10%;
  height: 20%;
}

.right-area {
    right: 5%;
    top: 50%;
    width: 15%;
    height: 15%;
}

.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.popup.hidden {
  display: none;
}

.popup-box {
  background: rgb(240, 239, 189);
  border: 1px solid black;
  padding: 20px;
  width: 300px;
  text-align: left;
  box-shadow: none;
  border-radius: 0;
}

#popupText {
  color: black;
  font-size: 16px;
  line-height: 1.4;
}

#closePopup {
  float: right;
  border: 1px solid black;
  padding: 1px 5px;
}


.fish-area{
  display: inline;
  text-decoration: underline;
  font-size: 24px;
   color: black;
}

.back {
  display: block;
  margin-top: 30px;
  color: black;
}